.callout {
    background-color: rgb(23, 36, 88);
    width: 500px;
    max-height: 300px;
    border: 1px solid;
    margin: 10px;
    padding: 15px;
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    padding: 3px;
    width: 100px;
    height: auto;
    border: 3px solid white;
}

blockquote {
    margin: 0%;
}

cite {
    display: block;
    text-align: right;
    border-top: 1px dotted #fff;
    padding top: 3px;
    font-size: smaller;
}